@use 'icon'
@use 'paging'

html
	font-size: 18px


label
	user-select: none


*
	box-sizing: border-box
	padding: 0
	margin: 0


._T_
	display: none

#__next
	height: 100vh
	width: 1200px
	margin: auto

main
	height: 100%


input, select
	height: 28px
	padding: 4px 8px
	font-size: 16px

