@use 'icon'
@use 'paging'

html
	font-size: 18px


label
	user-select: none


*
	box-sizing: border-box
	padding: 0
	margin: 0


._T_
	display: none

#__next
	height: 100vh
	padding: 3rem 0

main
	height: 100%



input, select
	border-radius: 4px
	height: 36px
	padding: 4px 8px
	font-size: 16px

