@use 'icons'

.main
	display: flex
	flex-direction: column
	justify-content: space-between
	align-items: center
	padding: 6rem



.prices
	display: grid
	grid-template-columns: repeat(3, 1fr)
	column-gap: 8px
	row-gap: 4px
	padding: 8px 4px
	
	i
		@extend .remove
		justify-self: end



.toggleNew
	display: block
	label, input
		display: none
	
	label
		display: inline-block
		vertical-align: middle
		position: relative
		
		&:before
			content: '+'
			text-align: center
			display: inline-block
			vertical-align: middle
			border-radius: 99px
			background: steelblue
			color: white
			width: 22px
			height: 22px
			line-height: 1
			font-size: 22px
			font-weight: bolder
			transition: background-color .3s linear
			cursor: pointer
		&:hover:before
			background: cornflowerblue

		
		
.newItem
	position: relative
	span
		position: relative
		&:first-of-type
			@extend .check
			left: 10px
			
		&:last-of-type
			@extend .cancel
			left: 20px
	
.tabs
	display: grid
	grid-template-columns: repeat(3, 1fr)
	
	div
		grid-column: span 3
	
	hr
		margin-bottom: 8px
		height: 1px
		
	
	> input
		display: none
		
		~ div
			display: none
		
		& + label
			padding: 8px
			line-height: 1.5
			border: 1px solid lightskyblue
			border-start-start-radius: 12px
			
		
		&:checked
			+ label
				//color: whitesmoke
				border-color: lightblue
				background: lightblue
				
						
			
			&:first-of-type ~ div:first-of-type,
			&:nth-of-type(2) ~ div:nth-of-type(2),
			&:last-of-type ~ div:last-of-type
				display: block
