@use 'icons'

//.loading
	padding: 30px
	background: url(/svg/loading.svg) center center no-repeat
	margin: 30px

.list
	display: grid
	grid-template-columns: minmax(0, 1fr) auto
	grid-template-rows: repeat(10, minmax(20px, 1fr))
	justify-content: space-between
	align-items: center
	row-gap: 8px
	padding: 16px 12px
	width: 100%
	position: relative


	&.loading
		&:after
			backdrop-filter: blur(2px)
			content: ''
			position: absolute
			padding: 30px
			top: 0
			left: 0
			width: calc(100% - 2 * 30px)
			height: calc(100% - 2 * 30px)
			min-height: 200px
			background: url(/svg/loading.svg) center center no-repeat
			background-size: calc(100% - 2 * 30px) calc(100% - 2 * 30px)
			z-index: 1

	> label
		@extend .remove


	input[type=radio]
		display: none

		&:checked
			& + span
				color: lightgray
				& + label
					@extend .wait

		&:global(.error) + span
			color: red
			& + span
				color: red
