@use 'icon'


.remove-toggler
	~ label
		@extend .icon\:remove
		justify-self: end
	&:checked
		~ span
			color: lightgray
		~ label
			@extend .icon\:loading
			cursor: default
			flex: 0 0 auto

	&:global(.error)
		~ span
			color: red


.list
	display: grid
	grid-template-columns: 1fr
	grid-template-rows: repeat(10, minmax(20px, 1fr))
	row-gap: 8px
	padding: 16px 12px
	width: 100%
	position: relative


	> div
		display: flex
		justify-content: space-between
		align-items: center
		position: relative

		// удаление
		:global(._T_)
			@extend .remove-toggler


	&.loading
		&:after
			backdrop-filter: blur(2px)
			content: ''
			position: absolute
			padding: 30px
			top: 0
			left: 0
			width: calc(100% - 2 * 30px)
			height: calc(100% - 2 * 30px)
			min-height: 200px
			background: url(/svg/loading.svg) center center no-repeat
			background-size: calc(100% - 2 * 30px) calc(100% - 2 * 30px)
			z-index: 1



.prices
	@extend .list

	> div
		> span
			&:first-of-type
				flex: 2
			&:nth-of-type(2)
				flex: 1



.orgs
	@extend .list

	> div
		> span
			&:first-of-type
				flex: 1
			&:nth-of-type(2)
				flex: 2
			&:nth-of-type(3)
				flex: 0.5

